main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  place-content: center;
  align-content: center;
}
p {
  margin: 0;
  text-align: center;
}
#word {
  font-size: 5rem;
}
#definition {
  font-size: 4rem;
  font-style: italic;
}

.pallete_1 {
  background-color: #001f3f;
  color: hsla(210, 100%, 75%, 1);
}
.pallete_2 {
  background-color: #0074d9;
  color: hsla(208, 100%, 85%, 1);
}
.pallete_3 {
  background-color: #7fdbff;
  color: hsla(197, 100%, 20%, 1);
}
.pallete_4 {
  background-color: #39cccc;
  color: black;
}
.pallete_5 {
  background-color: #3d9970;
  color: hsla(153, 43%, 15%, 1);
}
.pallete_6 {
  background-color: #2ecc40;
  color: hsla(127, 63%, 15%, 1);
}
.pallete_7 {
  background-color: #01ff70;
  color: hsla(146, 100%, 20%, 1);
}
.pallete_8 {
  background-color: #ffdc00;
  color: hsla(52, 100%, 20%, 1);
}
.pallete_9 {
  background-color: #ff851b;
  color: hsla(28, 100%, 20%, 1);
}
.pallete_10 {
  background-color: #ff4136;
  color: hsla(3, 100%, 25%, 1);
}
.pallete_11 {
  background-color: #85144b;
  color: hsla(331, 74%, 70%, 1);
}
.pallete_12 {
  background-color: #f012be;
  color: hsla(314, 88%, 21%, 1);
}
.pallete_13 {
  background-color: #b10dc9;
  color: hsla(292, 88%, 82%, 1);
}
.pallete_14 {
  background-color: #111;
  color: #ddd;
}

.pallete_15 {
  background-color: #aaa;
  color: black;
}
.pallete_16 {
  background-color: #ddd;
  color: black;
}
